/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}
.style_red {
    color: #c81623;
}
header {
    height: 84px;
    border-bottom: 2px solid #b1191a;
    line-height: 84px;
}
.registerarea {
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.registerarea h3 {
    height: 44px;
    line-height: 44px;
    font-weight: 400;
    font-size: 18px;
    color: #333333;
    background-color: #ececec;
    border-bottom: 1px solid #ccc;
    padding:0 10px;
}
.registerarea h3 .login {
    float: right;
    font-size: 14px;
}
.reg_form {
    width: 600px;
    margin: 50px auto 0;
}
.reg_form ul li {
    margin-bottom: 20px;
}
.reg_form ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
}
.reg_form ul li .inp {
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
    margin: 0 5px;
}
.err {
    color: red;
}
.err_icon,.succes_icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    background: url(../images/error.png) no-repeat;

}
.succes {
    color: green;
}
.succes_icon {
    background: url(../images/success.png) no-repeat;
}
.reg_form ul .safe {
    font-size: 12px;
    color: #b2b2b2;
    padding-left: 162px;
}
.reg_form ul .safe em {
    padding: 0 12px;
    color: #fff;
}
.reg_form ul .safe .ruo {
    background-color: #de1111;
    margin-left: 5px;
}
.reg_form ul .safe .zhong {
    background-color: #40b83f;
}
.reg_form ul .safe .qiang {
    background-color: #f79100;
}
.reg_form ul .agree {
    padding-left: 94px;
}
.reg_form ul .agree input {
    vertical-align: middle;
    margin: -3px 5px 0 0;
    width: 15px;
    height: 15px;
}
.reg_form ul .agree a {
    color: #1ba1e6;
}
.reg_form ul .sub {
    margin: 30px 0 0 100px;
}
.reg_form ul .sub input {
    width: 200px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #c81623;
}
footer {
    padding-top: 30px;
}
.mod_copyright {
    text-align: center;
    padding-top: 20px;
}
.links {
    margin-bottom: 15px;
}
.links a{
    margin: 0 3px;
}
.info {
    line-height: 18px;
}